.jumbotron
  .display-4
    What do you want to learn today?
  - if user_signed_in?
    .form-inline.my-4
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 200px; border: 1px solid #fff;', placeholder: "Find a course"
        %span.input-group-append
          %button.btn.btn-sm.btn-primary{type: "submit"}
            %span.fa.fa-search{"aria-hidden": "true"}
.card-group
  .card.card-body
    %h2
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h2
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h2
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h2
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

.home-courses-container
  %hr
  %h3
    Popular courses
  .card-columns
    = render @courses
  %hr
  %h3
    Top rated courses
  .card-columns
    = render @courses
  %hr
  %h3
    Latest courses
  .card-columns
    = render @latest_courses